body{
  font-size: 16px;
}
header{
  background-image: url("../images/vgg-home.png");
  background-size: cover;
  height: 75vh;
  background-position: 50% 50%;
  /* clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); */
}
.nav-link{
  font-size: 1.2rem;
}
h1{
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
  margin-bottom: 3rem;
}
.test-button{
  font-size: 1.2em;
  border: 3px solid #fefefe;
}

 /* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
} 

.modal-content {
  border: 1px solid #f7f7f7;
  width: 70%;
  background-color:#f7f7f7;
  padding: 2%;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

/* Styling for Quiz section */

.quiz-body{
  background-image: url("../images/vgg-home.png");
  background-size: cover;
  height: 75vh;
  background-position: 50% 50%;
  color: #ffffff;
}
.quizContainer{
  top: 30%;
  text-align: center;
  left: 10%;
  position: absolute;
  width: 80%;
}

.question{
  font-size: 25px;
  margin-bottom: 15px;
}
.answers{
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
}
.answers label{
  display: block;
}
button{
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  background-color: #1f94a8;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  margin-top: 2rem;
}
button:hover{
  background-color: #000000;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.buttons{
  margin-top: 14rem;
}

#results{
  position: absolute;
  /* left: 25%; */
  margin-left: -25%x;
  top: 40%;
  margin-top: -50px;
  margin: 0 auto;
  font-size: 3rem;
}